@model ErrorModel
@{
    string? imageId = null;
    if(Model.Details?.TryGetValue("ImageId", out object? value)==true)
    {
        imageId = value.ToString();
    }
    string? uploadId = null;
    if(Model.Details?.TryGetValue("UploadId",out value)==true)
    {
        uploadId = value.ToString();
    }
}
<div class="text-start">
        <form asp-action="SubmitPassword" asp-controller="Public" method="post">
        <input hidden name="imageId" value="@imageId" />
        <input hidden name="uploadId" value="@uploadId"/>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <input type="submit" value="Submit" />
        </form>
</div>
