@model ErrorModel
@{
    Model.Details.TryGetValue("ImageId", out string? imageId);
    Model.Details.TryGetValue("UploadId", out string? uploadId);
}
<div class="text-start">
        <form asp-action="SubmitPassword" asp-controller="Public" method="post">
        <input hidden name="imageId" value="@imageId" />
        <input hidden name="uploadId" value="@uploadId" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <input type="submit" value="Submit" />
        </form>
</div>
