img {
    max-height: 150px;
}
img[data-blur-nsfw]{
    filter:blur(10px);
}
tr td:first-child{
    text-align: center;
}

tr, th, td {
    border: 1px black solid;
}

table {
    height: 100px;
    margin-right:400px;
}


a {
    display: block
}

th {
    min-width: 100px;
    text-align: center;
    background-color: rgb(113, 113, 113);
    color: white;
}


td {
    text-align: right;
    align-content: center;
}

    td div, th div {
        padding-right: 5px;
        padding-left: 5px;
        height: 100%;
    }
