nav {
  width: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* Add styles for your logo here, such as width, height, and margin */
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

button {
  margin-left: 8px;
}
