<nav>
  <mat-toolbar>
    <div class="button-container">
      <button mat-raised-button color="primary"
      routerLink="/upload">
        <mat-icon>add_photo_alternate</mat-icon>
        <span>Upload</span>
      </button>
    </div>
    <div class="logo">
      Paste Image
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary">
        <mat-icon>add_photo_alternate</mat-icon>
        <span>Log in</span>
      </button>
    </div>
  </mat-toolbar>
</nav>
