<!-- <div align="center">
    <form class="input-form" id="filter">
        <mat-form-field class="example-full-width">
          <mat-label>Search ID</mat-label>
          <input type="text" matInput [(ngModel)]="this.searchId" placeholder="ID">
        </mat-form-field>
      </form>
    <button mat-raised-button color="accent" (click)="this.find()">Find</button>
</div> -->

<mat-card class="example-card" *ngFor="let item of this.uploads">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Upload ID: {{item.id}}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="image-container">
      <div *ngFor="let image of item.images" class="image-wrapper">
        <img mat-card-sm-image src="https://localhost:7063/api/Admin/GetImageThumbnail/Image?id={{image.id}}">
      </div>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="edit(item.id)">Edit</button>
      <button mat-raised-button color="warn" (click)="del(item.id)">Delete</button>
    </div>
  </mat-card-content>
</mat-card>
