.example-card {
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

button{
    margin-left: 24px;
    margin-right: 24px;
}

#filter{
    margin-top: 15px;
    align-items: center;
    align-self: center;
    width: 44em;
}