h1 {
  background-color: #333333;
  padding: 30px;
}

mat-form-field, mat-checkbox, button {
  width: 100%;
  margin-bottom: 30px;
  color: red;
}

.input-form {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
