<div align="center">
    <h1>Enter password for the image!</h1>
    <form class="input-form">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="this.password" type="password" matInput [formControl]="this.passwordError" placeholder="***">
          <mat-error *ngIf="this.passwordError.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

    <button
    mat-flat-button
    color="accent"
    (click)="send()"
>    
    Check password
</button>
</div>
  