@model UploadModel
@{
    Model.Images.Add(new ImageModel());
}
@{
    <div class="img-upload">
            <div class="upload-file">
                <img class="upload-file-preview">
                <label asp-for="Images[0].Content"></label>
                <input onchange="onFileChanged(this)" asp-for="Images[0].Content" class="upload-file-select" type="file" accept="image/*">
                <span class="upload-file-size"></span>
            </div>
            <div class="upload-description">
                <label asp-for="Images[0].Description"></label>
                <textarea onkeydown="onDescriptionKeyUpDown(this)" onkeyup="onDescriptionKeyUpDown(this)" class="upload-description-text" asp-for="Images[0].Description"></textarea>
                <span data-indicator="normal" class="upload-description-counter">120</span>
            </div>
            <div class="upload-nsfw">
                <label asp-for="Images[0].NSFW"></label>
                <input class="upload-nsfw" type="checkbox" asp-for="Images[0].NSFW">
            </div>
            <button type="button" class="upload-remove" onclick="removeImage(this)">Remove</button>
    </div>
}
