@model PasswordRequiredException
<div class="text-start">
        <form asp-action="SubmitPassword" asp-controller="DebugView" method="post">
        <input hidden name="imageId" value="@Model.ImageId" />
        <input hidden name="uploadId" value="@Model.Id" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <input type="submit" value="Submit" />
        </form>
</div>
