@section Styles{
    <link href="~/css/deb/upload.css" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="~/js/deb/upload.js"></script>
}
@model Upload
<div class="text-start">
    <form class="debug-form" asp-action="SubmitUpload" enctype="multipart/form-data">
        <div id="images">
         </div>
         <button type="button" onclick="addImage()" class="upload-add">Add Image</button> 
         <div id="upload-password">
            <label for="upload-password-enabled">Password Enabled</label>
            <input name="upload-password-enabled" id="upload-password-enabled" onchange="onPasswordEnabledChanged()" type="checkbox" />
            <input asp-for="Password" hidden id="upload-password-text" type="password"/>
        </div>
        <input type="submit" value="submit" />
    </form>
</div>
